* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    display:flex;
    justify-content:center;
    background:#edeeed; 
  }
  /*Basic drop definition*/
  .drop{
    position:absolute;
    width:150px;
    height:150px;
    background:transparent;
    border-radius:57% 43% 37% 63% / 45% 52% 48% 55%;
    box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.05),
               15px 25px 10px rgba(0,0,0,0.1),
               15px 25px 10px rgba(0,0,0,0.05),
               inset -10px -10px 15px rgba(255,255,255,0.9);
  }
  /*Second drop slightly different in shape and size*/
  .drop:nth-child(2){
     transform:scale(0.35) translate(-280px,180px);
     border-radius:64% 36% 42% 58% / 42% 37% 63% 58%;
    
  }
  /*Third drop slightly different in shape and size*/
  .drop:nth-child(3){
     transform:scale(0.5) translate(280px ,10px);
     border-radius:49% 51% 42% 58% / 56% 47% 53% 44%;
  }
  /*Added elements before and after each drop element to provide the lightning*/
  .drop::before{
    content: ' ';
    position:absolute;
    top:25px;
    left:35px;
    background:#ffffff;
    width:20px;
    height:20px;
    border-radius:67% 33% 47% 60% / 39% 42% 55% 35%;
    box-shadow:inset 10px 10px 10px rgba(0, 0, 0, 0.02);
  }
  .drop::after{
    content: '';
    position:absolute;
    top:110px;
    left:105px;
    background:#ffffff;
    width:7px;
    height:7px;
    border-radius:61% 38% 41% 50% / 31% 42% 51% 35%;
    box-shadow:inset 10px 10px 10px rgba(255, 255, 255, 1);
    
  }